<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="four.awesome.myta">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true">
        <activity
            android:name=".LoginActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:noHistory="true"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme" />
        <activity android:name=".MainActivity"
            android:theme="@style/AppThemeStudent"/>
        <activity android:name=".AssignActivity"
            android:theme="@style/AppThemeStudent"
            android:label="作业详情"/>
        <activity
            android:name=".CourseInfo"
            android:label="@string/course"
            android:theme="@style/AppThemeStudent"/>
        <activity
            android:name=".AttendanceCheck"
            android:theme="@style/AppThemeStudent"/>
    </application>

</manifest>